<div *ngIf = "!(books$ | async)">Loading...</div>
<div >
  <button mat-raised-button routerLink="/addbook" routerLinkActive="active" color="primary" >Add Book</button>
</div>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let book of books$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      by {{book.author}}  
      <div >
        <button mat-raised-button (click)=deletebook(book.id)  color="primary" >Delete </button>
      </div> 
      <div >
        <button mat-raised-button [routerLink]="'/addbook/'+book.id" routerLinkActive="active" color="primary" >Edit </button>
      </div> 
      
    </mat-expansion-panel>
  </mat-accordion>
  

